html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #E4E2DD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%; 
    height: auto;
    max-height: 800px;
    max-width: 600px; /* Ensures the container does not get too wide on larger screens */
}

.logo img {
    width: 100%; /* Make the logo responsive */
    max-width: 400px; /* Maximum logo width */
    height: 150px; /* Maintain aspect ratio */
    object-fit: cover;
    object-position: center;
}

#todo-list {
    width: 90%; 
    max-width: 500px; 
    margin: auto;
    text-align: center;
    background-color: #fdfcf8;
}

.todo {
    border: 4px solid #000;
    padding: 20px;
    margin-top: 20px;
}

#tasks li {
    list-style: none;
    margin-top: 10px;
    font-weight: 300;
    text-align: left;
}

#tasks {
    padding: 10px;
    background-color: #ecece9;
    border-radius: 5px;
}

.task.completed .task-text {
    text-decoration: line-through;
    color: #FF89A9;
}

.fa {
    margin-inline-start: 3%;
    cursor: pointer;
    float: right;
}

.fa:hover {
    color: #FF89A9;
}

.task-checkbox {
    float: left;
}

#new-task {
    width: 100%; /* Full width to be more responsive */
    max-width: 250px; /* Maximum width */
    height: 20px;
}

::placeholder {
    font-family: 'Raleway', sans-serif;
}

button {
    background-color: #FF89A9;
    color: white;
    border-radius: 4px;
    border: none;
    margin: 2px;
    padding: 5px;
}

button:hover {
    background-color: #f3cdd7;
}

/* Media Queries */
@media (max-width: 768px) {
    .container, #todo-list, .logo img {
        width: 90%; /* Make elements wider on smaller screens */
    }

    .logo img {
        max-width: 100%; /* Allow the logo to scale down on smaller screens */
    }

    #new-task, .todo, #tasks li {
        width: 90%; /* Adjust width for smaller screens */
    }
}

@media (max-width: 430px) {
    body {
        flex-direction: column;
        padding-top: 50px;
    }

    .container {
        width: 100%; /* Adjusted for better fit */
    }

    .task-text {
        font-size: 14px; /* Adjusted font size */
        word-wrap: break-word; /* Ensure long words do not overflow */
    }

    #tasks li, .todo {
        padding: 10px; /* Adjust padding to ensure content fits well */
       overflow-y: scroll;
    }

    .logo img {
        width: 80%; /* Adjust logo size on smaller screens */
        margin: 0 auto; /* Center the logo if it's not already */
    }

    #todo-list {
        max-height: 65vh; /* Adjust the height for smaller screens */
        width: 100%; /* Adjusted for better fit */
  
    }
}

/* Additional responsive adjustments */
.task-text {
    word-wrap: break-word; /* Apply word wrapping for all screen sizes */
}
